<h1> STBlog </h1>

<p> Hello <%= @user.name %>, </p>

<p>
  Welcome to STBlog. Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>