<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.company %>

      </h1>
      <h2>
        <%= @user.name %>
      </h2>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
