<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="post_form">
          <%= render 'shared/post_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Blog Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>

<% else %>
    <div class="center jumbotron">
      <h1>Welcome to the STBlog</h1>

      <h2>
        This is the home page for the STBlog
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

<% end %>