<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user), post.user %>
  <span class="title"><%= post.title %></span>
  <span class="user"><%= link_to post.user.company, post.user %></span>
  <span class="content"><%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    Posted  <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
    <%= link_to "delete", post, method: :delete,
        data: { confirm: "Are you sure?"} %>
        <% end %>
  </span>
</li>